In [1]:
def greet(): # define the function
    print('good evening') # Print the statement

In [2]:
def greet(): # define the function
    print("Good evening") # Print the statement
greet() # call the function

Good evening

In [3]:
def greet():  
    print("Good evening") 
greet() 

def greet():  
    print("Good evening") 
greet()

def greet():  
    print("Good evening") 
greet()

Good evening
Good evening
Good evening

In [4]:
def greet():  
    print("Good evening") 
greet()
print()
greet()
print()
greet()

Good evening

Good evening

Good evening

In [6]:
def greet():  
    print("Good evening") 
greet()

greet()

greet()
print()
greet()

Good evening
Good evening
Good evening

Good evening

In [8]:
def add(x,y):
    c = x + y
    print(c)

add(10,6)
add(20,5)

16
25

In [10]:
def add(x):
    c = x + y
    print(c)

add(10,6)

TypeError: add() takes 1 positional argument but 2 were given

In [11]:
def add(x,y,z):
    c = x + y + z
    print(c)

add(10,6)

TypeError: add() missing 1 required positional argument: 'z'

In [12]:
def add(x,y):
    c = x + y
    print(c)

add(10,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [17]:
def greet(name):
    print(f'{name} Good evening')
greet('Aniket')
print()
def add(x,y):
    c = x + y
    print(c)

add(10,6)

Aniket Good evening

16

In [18]:
# Define function at upper side and call the functions at bottom in last 
def greet(name):
    print(f'{name} Good evening')

def add(x,y):
    c = x + y
    print(c)
    
greet('Aniket')
add(10,6)

Aniket Good evening
16

In [19]:
def greet(name):
    print(f'{name} Good evening')

def add(x,y):
    c = x + y
    print(c)

def sub(x,y):
    c = x - y
    print(c)
    
greet('Aniket')
add(10,6)
sub(20,5)

Aniket Good evening
16
15

In [20]:
def add(x,y):
    c = x + y
    return c
add(10,5)

15

In [21]:
def add(x,y):
    c = x + y
    return c

def sub(x,y):
    d = x - y
    return d

print(add(10,20))
print(sub(10,3))

30
7

In [27]:
def add(x,y):
    c = x + y
    return c

def sub(x,y):
    d = x - y
    return d

result1 = add(10,20)
result2 = sub(10,3)

print(result1)
print(result2)

print(type(result1))
print(type(result2))

30
7
<class 'int'>
<class 'int'>

In [24]:
def add_sub(x,y):
    c = x + y 
    d = x - y
    return c,d

result = add_sub(10,6)
print(type(result))
print(result)

<class 'tuple'>
(16, 4)

In [28]:
def add_sub(x,y):
    c = x + y 
    d = x - y
    return c,d

result1,result2 = add_sub(10,6)

print(result1)
print(result2)
print(type(result1))
print(type(result2))

16
4
<class 'int'>
<class 'int'>

# Function argument

In [30]:
def update():
    x = 8
    return x

update()

8

In [31]:
def update(x):
    x = 8
    return x

update(10)

8

In [33]:
def update(x):
    x = 8
    return x
a = 10
print(update(a))
print(a)

8
10

### Function without argument--> Not required any argument to pass
### Function with argument --> Required argument to pass
* **There are two types of argument functions:**

 - 1.Formal argument function

 - 2.Actual argument function

# Formal Arguments

In [ ]:
def add(x,y): #x and y are Formal argument === Actual Argument in most cases
    c = x + y
    return c
add(10,5) # 10,5 Actual argument

# Actual argument
* positional argument
* keyword argument
* default argument
* variable length argument

# 1. Postitional Argument

In [ ]:
def person(name,age): 
    print(name)
    print(age)

person('nit',18)

nit
18

In [10]:
def solve(meal_cost,tip_percent,tax_percent):
    
    total_cost = round(meal_cost + meal_cost*(tip_percent/100) + meal_cost*(tax_percent/100))
    return total_cost

solve(12,20,8)

15

In [ ]:
def add(a,b,c,d,e,f):

    c =  a + b + c + d + e + f
    return c

add(10,20,35,40,65,35)

205

In [ ]:
def person(name,age):
    print(name)
    print(age)

person('Ani',25)

Ani
25

In [7]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'Ani')

22
Ani

In [8]:
def person(name,age):
    print(name)
    print(age + 1)

person(22,'ani')

22

TypeError: can only concatenate str (not "int") to str

# Keyword Argument

In [12]:
def person(name,age):
    print(name)
    print(age + 1)
    
person(age = 24,name = 'Ani')

Ani
25

In [13]:
def person(name,age,salary):
    print(name)
    print(age + 1)
    print(salary)
    
person(name = 'Ani',salary =10000,age = 25)

Ani
26
10000

# Default Argument

In [14]:
def person(name,age,age2):
    print(name)
    print(age)
    print(age2)

person(age = 19,name = 'Ani',age2 = 22)

Ani
19
22

In [15]:
def person(name,age):
    print(name)
    print(age)

person('Ani')

TypeError: person() missing 1 required positional argument: 'age'

In [16]:
def person(name,age = 18):
    print(name)
    print(age)
    

person('Ani')

Ani
18

In [17]:
def person(name,age = 18):
    print(name)
    print(age)
person('Ani',age = 28)

Ani
28